<!DOCTYPE html>
<html>

<head>
    <title>about</title>
    <link rel="icon" href="/images/w2.png">
    <link rel="stylesheet" href="./css/styles.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="./images/123.png">

    </div>
    <div>
        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <td>
                    Aniket Mahangade
                </td>
            </tr>
            <tr>
                <th>
                    Profession
                </th>
                <td>
                    Full Stack Software developer
                </td>
            </tr>

            <tr>
                <th>
                    Technology Used
                </th>
                <td>
                    NodeJs,Express and Handlebars
                </td>
            </tr>

            <tr>
                <th>
                    API Service Provider
                </th>
                <td>
                    Darksky API
                </td>
            </tr>

        </table>
    </div>
    {{>footer}}
</body>

</html>