<!DOCTYPE html>
<html>

<head>
    <title>about</title>
    <link rel="icon" href="/images/w2.png">
    <link rel="stylesheet" href="./css/styles.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="./images/123.png">

    </div>
    <div class="aboutTable">
        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <td>
                    Aniket Mahangade
                </td>
            </tr>
            <tr>
                <th>
                    Profession
                </th>
                <td>
                    Full Stack Software developer
                </td>
            </tr>

            <tr>
                <th>
                    Technology Used
                </th>
                <td>
                    NodeJs,Express and Handlebars
                </td>
            </tr>

            <tr>
                <th>
                    API Service Provider
                </th>
                <td>
                    Darksky API
                </td>
            </tr>

        </table>
    </div>
    {{>footer}}
</body>

</html>