<!DOCTYPE html>
<html>

<head>
    <title>weather</title>
    <link rel="icon" href="/images/w2.png">
    <link rel="stylesheet" href="./css/styles.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body >
    {{!-- Render Partial --}}
    <div class="main-content">
        {{>header}}
        <h3 style="color:#E99157;">Use this site to get weather information in your area</h3>
    <form>
        <div class="input-group">
        <input placeholder="Enter Location"   id="inputGroup-sizing-default" class="form-control">
        <button class="btn btn-default btn-primary">Search</button>
        </div>
    </form>

    <p class="h6 text-info"   id="message-1"></p>
    <p class="h6" id="message-2"></p>
    </div>
    
    {{>footer}}
    <script src="./js/app.js"></script>
</body>

</html>