<!DOCTYPE html>
<html>

<head>
    <title>weather</title>
    <link rel="icon" href="/images/w2.png">
    <link rel="stylesheet" href="./css/styles.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    {{!-- Render Partial --}}
    <div class="main-content">
        {{>header}}
        <p>Use this site to get weather information in your area</p>
    <form>
        <input placeholder="Enter Location">
        <button>Search</button>
    </form>

    <p class="h6" id="message-1"></p>
    <p class="h6" id="message-2"></p>
    </div>
    
    {{>footer}}
    <script src="./js/app.js"></script>
</body>

</html>